<footer>

<div class = "container">
    <textarea style="text-align: left" id="chat" rows="10" readonly cols="80"></textarea>
    <br>
    <form id = "chatbox">
        <label>Nombre</label>
        <input type="text" name="username" autocomplete="off"  required>
        <input type="text" name="text" placeholder="Escriba aqui" autocomplete="off">
        <button>Enviar</button>
    </form>
</div>
    <div class="jumbotron">
        <div class="container">
            <h1 align="center">
                Todos los derechos reservados.
            </h1>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
<script src='socket.io/socket.io.js'></script>
<script>
    socket = io()
    const chat = document.querySelector('#chat');
    const usern = document.querySelector("username");
    document.querySelector('#chatbox').addEventListener('submit',(datos)=>{
        datos.preventDefault();
        const texto = datos.target.elements.text.value;
        const username = datos.target.elements.username.value;
        socket.emit('texto',{
            username: username,
            texto: texto
        },()=>{
            texto.focus()
        })
        datos.target.elements.text.value = '';
        texto.focus();
    })

    socket.on('chat',(text)=>{
        chat.innerHTML = chat.innerHTML + text.username+ ': ' + text.texto + '\n';
    })
</script>
</html>