{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>Estos son los estudiantes que quedan matriculados:</h1>
    <br>
 {{{desmatricular curso cedulaMatriculados usuarios}}}
    <br>
</div>
<br>
{{>footer}}