{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <form action="/login" method="get">
        <br>
        <button class="btn btn-dark">LOG IN</button>
        <br>
    </form>
    <form action="/register" method="get">
        <br>
        <button class="btn btn-dark">REGISTER</button>
        <br>
    </form>
    <br>
</div>
<br>

{{>footer}}