{{>header}}

<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <img src="data:img/png;base64,{{avatar}}" class="img-fluid">
    <h1>
        Bienvenido {{nombre}}
    </h1>
    <br>
    {{{listar usuario listaCursos listaMatriculas listaUsuarios}}}
</div>
<br>
<br>

{{>footer}}